@model List<ProyectoFinalVentasMVC.Models.Usuario>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de Usuarios</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="container text-center">
        <h2 class="text-center">Listado de Usuarios</h2>
        <br />
        <br />
        <p class="text-center">¿Desea registrar un nuevo Usuario?</p>
        <div class="text-center">
            <a href="@Url.Action("AgregarUsuario", "CrudUsuario")" class="btn btn-info">Haga clic aquí</a>
        </div>
        <br /><br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Clave</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Nombre</td>
                        <td>@usuario.Correo</td>
                        <td>@usuario.Clave</td>
                        <td>@usuario.Rol</td>
                        <td>
                            <a href="@Url.Action("ActualizarUsuario", "CrudUsuario", new { id = usuario.Id })" class="btn btn-warning">Actualizar</a>
                            <a href="@Url.Action("EliminarUsuario", "CrudUsuario", new { id = usuario.Id })" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
